.container-menu-lateral{
    position: absolute;
    width: 14%;
    height:100%;
    /* left: 0px; */
    top: -1px;

    background: #9346F4;
    display: flex;
}


.buttom-menu{

    /* border: 2px solid black; */

    position: absolute;
    align-items: center;
    text-align: center;
    width:70%;
    margin-left: 14%;
    /* left: ; */
    top: 30%;
    max-width: 110%; 
    /* margin-top: 10%; */

    /* text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    /* font-size: 18px; */
    line-height: 25px; 

    color:  #FFFFFF;    

}

.icon-navbar-lateral{
    width: 30px;


}

.box-lista-menu p{

    /* border: 1px solid brown; */

    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: auto;
    left: 10px;
    /* position: sticky; */
    /* left: -10%; */
    /* margin: 50px; */


}

.logo-menu-lateral{

    /* border: 1px solid blue ; */

    position: absolute;
    width: 80px;
    height: 80px;

    left: 35%;
    top: 75px;
    /* margin: 20px; */

    background: #9346F4;

}