.container-PG-inicial{

    display: flex;
    height:  25rem;
    border-bottom: 1px solid blueviolet ;
    align-items: center;
    background-color: #9346F4;
}

.texto-container{

    position: absolute;
    width: 600px;
    left: 130px;
    top: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FEF074;

}

.texto-interno{

position: absolute;
width: 500px;
height: 100;
left: 50px;
top: 160px;

font-family:  ;
font-style: normal;
font-weight: 100;
font-size: 35px;
line-height: 50px;
text-align: center;

color: #FFFFFF;

}

.texto-teste{

position: absolute;
width: 150px;
text-align: center;
left: 352px;
top: 400px;
font-size: 18px;
color: blueviolet;
background: #FEF074;
border-radius: 3px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left: auto;

}


.container-cadastro{
    position: absolute;
    text-align: center;
    width: 60%;
    left: 20%;
    color: blueviolet;
    padding: 1rem ;

    background-color: 1px solid red;
}

.email-form {

    border-color: blueviolet;
    left: 20%;
    border-radius: 7px;
    max-width: 250px;

    border-radius: 5.5em;

    padding: 6px 25% ;

    margin-right: 1rem;
    outline: none;
    text-align: center;     
    background-color: cornsilk;

    /* padding: 5px 10.5rem; */
    
    
    

}

.img-home{

    position: absolute;
    width: 500px;
    height: 350px;
    left: 660px;
    top: 20px;

}

