.container-Dashboarder-Profissional{
    /* border: 1px solid red; */
    padding: 17rem;
    /* width: 15px; */
    /* height: 15px; */
    /* left: 25px; */
    /* margin-left: 14%; */
    position: relative;
}

.title-dashborder-Profissional{
    /* border: 1px solid blue; */
    padding: 19px;
    position: absolute;
    left: 2%;
    top: -25px;
    font-size: 32px;
    color: #9346F4;

}

.box-agendados-Profissional{
    border: 1px solid red;
    /* padding: 5rem ;
    width: 15px;
    height: 15px;
    left: 25px; */

    position: absolute;
    width: 550px;
    height: 35%;
    left: 3%;
    top: 10%;

    background: #CFF790;
    /* border: 1px solid #CFF790; */
    box-sizing: border-box;

}

.box-aguardando-Profissional{
    border: 1px solid red;
    /* padding: 5rem ;
    width: 15px;
    height: 15px;
    left: 25px; */

    position: absolute;
    width: 550px;
    height: 35%;
    left: 51%;
    top: 10%;

    background: #FEF074;

}

.box-usuarios-Profissional{
    border: 1px solid red;
    /* padding: 7rem ;
    width: 15px;
    height: 15px;
    left: 25px; */
    position: absolute;
    width: 550px;
    height: 45%;
    left: 3%;
    top: 50%;

    background: #FFFFFF;
    /* opacity: 0.5; */
    border: 3px solid #9346F4;
    /* box-sizing: border-box; */

}

.list-view-dados-Profissional a{
    color: black;
    font-size: 18px;
    font: 18px;
    list-style: none;
    text-decoration: none;
    margin: 85px;
    margin-left: -15px;
}

.title-box-Profissional{
    color: blueviolet;
    font-size: 25px;
    margin-left: 26px;
    font-style: italic;
}

.quantidade-box-Profissional{
    color: blueviolet;
    margin-left: 65px;
    font-size: 70px;
    font-style: normal;
    top: 90px;
    height: 35px;
    margin-top: 12px;
}


.tipo-box-Profissional{
    color: blueviolet;
    margin-left: 28px;
    /* font-size: de; */
    margin-top: 3px;
}

.box-comentarios-Profissional{
    /* border: 1px solid red; */
    /* padding: 7rem ;
    width: 15px;
    height: 15px;
    left: 25px; */

    position: absolute;
    width: 550px;
    height: 45%;
    left: 51%;
    top: 50%;

    /* background: #FFFFFF; */
    /* opacity: 0.5; */
    border: 3px solid #9346F4;
    box-sizing: border-box;

}